<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cryptocurrency Regret Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Monthly Bitcoin & other cryptocurrency historical performance profits savings calculator. Just see how much you could have gained by saving in cryptocurrencies like Bitcoin, Ethereum, Litecoin, Dash or Monero and make yourself regret.">        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    </head>
    <body>
        <main>
        <nav>
            <input type="checkbox" id="nav" class="hidden" />
            <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
            <div class="nav-container">
              <ul>
                <li><a href="/cryptocurrency-calculator">Regret Calculator</a></li>
                <li><a href="/best-place-to-buy-cryptocurrency-bitcoin">Best Place to Buy Crypto</a></li>
                <li><a href="/contact">Contact Me</a></li>
              </ul>
            </div>
          </nav>