<% include ./partials/header %>
    <div class="container">
        <article>
            <h2>contact</h2>
            <p>If you would like to contact me with some ideas
            on how to expand and make this Regret Calculator better or if you have some other inquiries, simply email me at</p>
            <h4 style="text-align: center;">regretcalculator@gmail.com</h4>
        </article>
    </div>
<% include ./partials/footer %>
