<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crypto Regret Calculator</title>
        <meta name="description" content="Monthly Bitcoin & other cryptocurrency historical performance profits savings calculator. Just see how much you could have gained by saving in cryptocurrencies like Bitcoin, Ethereum, Litecoin, Dash or Monero and make yourself regret.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div id="landing-header">
 		<h1>Welcome to Cryptocurrency Regret Calculator!</h1>
 		<p>Have you ever wondered how much money you would have if you ended up buying some bitcoin or other cryptocurrency, regularly?</p>
		<a href="/cryptocurrency-calculator" class="btn btn-lg btn-danger">Make me regret I didn't</a>
    </div>

    <ul class="slideshow">
      <li></li>
    </ul>
  </body>
</html>
