<% include ./partials/header %>

<main>
    <div class="container">
        <article>
                <h2>page not found</h2>
                <p>Page you're looking for could not be found. Please make sure the webpage address is correct.</p>
        </article>
    </div>
</main>
<% include ./partials/footer %>