<% include ./partials/header %>

<main>
    <div class="container">
        <article>
                <h2>WHAT ARE CRYPTOCURRENCY</h2>
                <p>content coming soon</p>
        </article>
    </div>
</main>
<% include ./partials/footer %>